<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oferta specjalna</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
   

</head>
<body>
    <div class="site-box2 container">
        <section class="row top-section">
            <div class="col-12">
                <h1 class="shadowed-text" style="text-align: center;">
                    Gratuluję wspaniałej decyzji!
                </h1>
                <p class="text1">
                    Już wkrótce Twój ból minie na zawsze, a Ty odzyskasz młodzieńczą sprawność. Zanim jednak przejdziesz dalej, musisz odpowiedzieć na jedno bardzo istotne pytanie:
                </p>
                <h1 class="shadowed-text" style="text-align: center;">
                    Czy masz co najmniej 21 lat?
                </h1>
                <p class="text1">
                    Jeśli odpowiedziałeś „TAK”, to mam dla Ciebie bardzo ważną informację:
                </p>
                <p class="text1">
                    W naszym organizmie kolagen (będący głównym składnikiem mazi stawowej) jest produkowany tylko do 18. roku życia. Po tym czasie stawy coraz bardziej zużywają się – w skrajnych przypadkach już nawet bardzo młode osoby mogą odczuwać dolegliwości stawowe. Bez odpowiedniego wsparcia i stymulacji z wiekiem jest tylko coraz gorzej – skoro tu jesteś, to na pewno wiesz, o czym mówię.
                </p>
                <p class="text1">
                    Na szczęście jesteś w idealnym miejscu! Już tylko dwa kliknięcia dzielą Cię od całkowitej i trwałej ulgi w bólu. Ani się obejrzysz, a znów będziesz w pełni sprawności cieszyć się życiem!
                </p>
                <p class="text1">
                    To banalnie proste. Nie musisz robić nic więcej, tylko założyć pas biodrowy MagnetoStrip, a dzięki trakcji i polu magnetycznemu Twoje stawy odzyskają dawną ruchomość – bez względu na przyczynę dolegliwości. Ponadto, tylko teraz masz możliwość zdobyć 433 zł taniej! Doradzam zakup wzmocnionej wersji; będziesz mieć pewność, że bez względu na stopień bólu i niesprawności odczujesz całkowitą ulgę – to opcja specjalnie dla Ciebie.
                </p>
                <p class="text1">
                    Zostało już tylko 30 ze 100 sztuk wzmocnionej wersji 15 000 Gaussów w tej wyjątkowo niskiej cenie: 279 zł. Po wyczerpaniu puli cena wróci do regularnego poziomu: 634 zł. Jest bardzo mało prawdopodobne, aby ten pas był jeszcze kiedyś dostępny w tak atrakcyjnej ofercie.
                </p>
            </div>
        </section>

        <section class="row bottom-section">
            <div class="col-12">
            </div>

            <div class="col-12">
                <div class="container">
                    <div class="row justify-content-center">
                        <h1 class="shadowed-text">Sprawdź maksimum korzyści:</h1>
                        <table class="summary">
                            <tbody class="d-inline">
                                <tr>
                                    <th></th>
                                    <th>Wersja podstawowa – 6 000 Gs</th>
                                    <th><span class="hand-ok-span">Wersja wzmocniona – 15 000 Gs</span></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img src="../assets/img/6000-mono.png" alt="black and white" style="width: 100%;display: block; margin: 0 auto;"></td>
                                    <td><img class="" src="../assets/img/15000-normal.png" alt="box" style="width: 120% !important; padding-right: 40px;" ></td>
                                </tr>
                                <tr>
                                    <td>Wysyłka:</td>
                                    <td><b>24 zł x 2 = 48 zł</b></td>
                                    <td><b>0 zł</b></td>
                                </tr>
                                <tr style="font-weight: 700;">
                                    <td>Razem:</td>
                                    <td class="old-price">682 zł</td>
                                    <td class="new-price" >249 zł</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <section class="row buttons">
            <div class="col-12">
                <a href="./correction.html" class="button bigBtn">
                    Tak, wybieram wersję SPECJALNĄ
                </a>
                <br />
                <a href="./correction.html" class="button smallBtn mb-4">
                    Nie, Dziękuję. Wybieram wersję podstawową
                </a>
            </div>
        </section>
    </div>
    
    
</body>
</html>