<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Carbon Coffee</title>
</head>
<body>
    <section id="thanks">
    <div class="mask"></div>
    <div class="container">
        <h1>DZIĘKUJEMY ZA ZAUFANIE</h1>
        <h2>Wkrótce skontaktujemy się<br> z Toba w celu <br><b>potwierdzenia zamówienia</b></h2>
        <img src="img/tenth01.png" alt="">
    </div>
    </section>
</body>
</html>