<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dziękujemy za złożenie zamówienia</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/special_offer.css">
</head>
<body>
    <style>
        .btn--warranty{
            font-weight: 700;
            max-width: 476px;
        }
        li{
            font-weight: 400;
        }
        
         body{
            background-color: #e2e2e2e2 !important;
        }
        .container {
            background-color: white;
            height: 100%;
        }
    </style>
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-12 col-lg-10 py-5">
                <h1 class="text-center shadowed-text">Uwaga: ważna informacja dotycząca Twojego zamówienia [dofinansowanie!]</h1>
                <p>
                    Dziękujemy za potwierdzenie danych - dzięku temy Twoje zamówienie za udział w fabryce zdrowia zostanie wysłane <b><br>w pierwszej kolejności.</b>
                </p>
                <p class="font-weight-bolder">
                    A to nie koniec dobrych wiadomości...
                </p>
                <p>
                    Po weryfikacji Twoich danych adresowych okazało się, że mieszkasz na obszarze, któego mieszkańcy zostali objęci <b>dodatkowych dofinansowaniem na odbiór dużej kuracji</b> Vendinos za udział w fabryce zdrowia (do tej pory zamówiłeś małe opakowanie, pozwalające przejść jedynie połowę kuracji).
                </p>
                <p style="letter-spacing: -.5px;">
                    <b>Dodatkowe dofinansowanie umożliwia Ci</b> odbiór dużego opakowania kuracji w najniższej możliwej cenie: za jedyne <s>634zł</s> 211 zł.
                </p>
                <p>Wykorzystując zniżkę, możesz powiększyć swoje zamówienie do pełnej kuracji za niewielką dopłata<br> (dopłacisz jedynie 54 zł, w tej sytuacji znaczną część kosztów kuracji bierze na siebie producent).</p>
                <p>Jeśli nie wykorzystasz jej teraz, szansa ta zostanie przekazana komuś innemu.</p>
                <br>
                <h1 class="text-center shadowed-text">Dlaczego warto z niej skorzystać?</h1>
                <img class="float-left img-fluid m-3" src="../assets/img/vendinos_2_small.png" alt="product" style="width: 190px;">
                <br>

                <ol style="letter-spacing: -.7px;">
                    <li>pamiętaj, że jedynie przejście pełnej kuracji gwarantuje Ci uzystaknie efektów przedstawionych na stronie (a rozumiem, że na ich uzyskaniu Ci zależy),</li>
                    <li>odebranie dużego opakowania kuracji to najwygodniejsza i najbardziej opłacalna pcja, która pozwala na nieprzerwane stosowanie kuracji i najszybsze uzyskanie pożądanych rezultatów kuracji (jej przerwanie związane z oczekiwaniem na przesyłkę kontynuacji kuracji może spowolnić efekty),</li>
                    <li>jedynie pełna kuracja objęta jest też gwarancją potrójnej satysfakcji - wybierając pełną kurację, zyskujesz dodatkowo specjalistyczny monitoring efektów. Dzięki temu, jeśli z jakichkolwiek przyczyn nie spełnią one Twoich oczekiwań - otrzymasz dodatkowe wsparcie i pełne dofinansowani kuracji do cech indywidualnych Twojego organizmu.</li>
                </ol>
                <p>Jest to oferta ograniczona czasowo i ilościowo - w związku z tym, że z punktu widzenia producenta jest na granicy opłacalności wyświetlona jest jedynie osobom, które do tej pory zdecydowały się na małe opakowanie <br>(zaledwie 9% Klientów!). Będzie aktywna jeszcze tylko 5 minut, dlatego <b>działaj szybko.</b></p>
                <div class="row justify-content-lg-center">
                    <div class="p-2">
                        <a href="./thanks.html" class="d-block mb-2">
                            <button value="1" class="btn btn-success btn--warranty">Tak, chcę skożystać z dofinansowania i odebrać pełne opakowanie kuracji za niewielką dopłatą >>></button>
                        </a>
                        <a href="./thanks.html">
                            <button value="2" class="btn btn-dark btn--warranty">Nie, nie potrzebna mi już gwarancja, że osiągnę swój cel.</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>