<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dziękujemy za złożenie zamówienia</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/special_offer.css">
</head>
<body>
    <style>
        .btn--warranty{
            max-width: 476px;
            font-weight: 700;
        }
        
        body{
            background-color: #e2e2e2e2 !important;
        }
        .container {
            background-color: white;
        }
    </style>
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-12 col-lg-10 py-5">
                <h1 class="text-center shadowed-text">Uwaga: ważna informacja dotycząca Twojego zamówienia [dofinansowanie!]</h1>
                <p>
                    Dziękujemy za potwierdzenie Twoich danych - dzięku temy Twoje zamówienie za udział w fabryce zdrowia zostanie wysłane <b>w pierwszej kolejności.</b> A to nie koniec dobrych wiadomości.
                </p>
                <p>
                    Weryfikacja Twoich danych adresowych pozwoliła stwierdzić, że mieszkasz na obszarze, któego mieszkańcy zostali objęci <b>dodatkowych dofinansowaniem kuracji</b> Vendinos za udział w fabryce zdrowia.
                </p>
                <p>
                    <b>Dodatkowe dofinansowanie umożliwia Ci</b> odbiór dodatkowego <b>dużego</b> opakowania kuracji za udział w farbryce zdrowia za <u>jedyna 85zł...</u>
                </p>
                <br>
                <h1 class="text-center shadowed-text">Dlaczego to się tak bardzo opłaca?</h1>
                <p>Dzięki dofinansowaniu i jedynie niewielkiej dopłacie (dofinansowanie pokrywa aż 88% podstawowej ceny!) wraz ze swoim zamówieniem za udział w klubie rabatowym otrzymasz dodatkowe urządzenie o zwiększonej mocy, dzięki któremu otrzymujesz gwarancję efektów, na jakich Ci zależy i szybszego rozwiązania Twojego problemu.</p>
                <img class="float-left img-fluid w-50" src="../assets/img/vendinos_2_big.png" alt="two big boxes image">
                <br>
                <p>Drugie urządzenie o zwiększonej mocy, które możesz uzyskać w limitowanej edycji to świetny sposób na obdarowanie małżonki, małżonka, albo innej bliskiej Ci osoby.</p>
                <p>Skorzystaj z dodatkowego pakietu, dzięki któremu radykalnie i na dobre wyeliminujesz doskwierający Ci problem, a przy okazji uszczęśliwisz drugą osobę niezapomnianym prezentem.</p>
                <br>
                <h1 class="text-center shadowed-text">A to jeszcze nie wszystko:</h1>
                <p>W ramach dofinansowania otrzymasz dodatkowo <b>profesjonalną, 3-miesięczną opiekę specjalisty.</b></p>
                <p>Dzięki temu <u>jeśli efekty kuracji nie będą Cię zadowalać,</u> <b>specjalista weźmie sprawy w swoje ręce!</b> Jego zadaniem będzie takie dobranie - lub modyfikacja - kuracji, byś jak najszybciej osiągnął cel - bez niepotrzebnych nerwów i zbędnego wysiłku. </p>
                <p>Niestety, ilość osób, które otrzymują dofinanosowanie jest ograniczona i - w związku z dużym zainteresowaniem - szybko się zmniejsza. Dlatego, jeśli chcesz uzyskać dodatkowe duże opakowanie kuracji oraz wsparcie specjalisty, <b>działaj od razu.</b></p>
                <div class="row justify-content-lg-center">
                    <div class="p-2">
                        <a href="./thanks.html" class="d-block mb-2">
                            <button value="1" class="btn btn-success btn--warranty">Tak, chcę skorzstać z dofinansowania i odebrać 2 duże opakowania oraz 3-miesięczną opiekę specjalisty za <s>634zł</s> 364zł >>></button>
                        </a>
                        <a href="./thanks.html">
                            <button value="2" class="btn btn-dark btn--warranty">Nie, nie potrzebna mi już gwarancja, że osiągnę swój cel.</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>