/* ALL */
@font-face {
  src: url(../fonts/NIAGENG.TTF);
  font-family: Niageng;
}

@font-face {
  src: url(../fonts/Lato-Italic.ttf);
  font-family: LatoItalic;
}

@font-face {
  src: url(../fonts/OpenSans-ExtraBold_5.ttf);
  font-family: OpenSansExtraBold;
}

@font-face {
  src: url(../fonts/Lato-Heavy_5.ttf);
  font-family: LatoBlack;
}

@font-face {
  src: url(../fonts/Lato-Bold.ttf);
  font-family: LatoBold;
}

@font-face {
  src: url(../fonts/OpenSans-ExtraBoldItalic_5.ttf);
  font-family: OpenSansExtraBoldItalic;
}

@font-face {
  src: url(../fonts/ariblk.ttf);
  font-family: ArialBlack;
}

@font-face {
  src: url(../fonts/MinionPro-Regular_D.otf);
  font-family: Minion;
}

@font-face {
  src: url(../fonts/OpenSans-Bold_5.ttf);
  font-family: OpenSansBold;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  font-family: OpenSansExtraBoldItalic;
  font-size: 34px;
  line-height: 40px;
  color: inherit;
}

/* SECTION FIRST */
#first {
  background-image: url(../img/section_first_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 20px;
}

.first_mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: .8;
}

header {
  background-color: #525659;
  position: relative;
  padding: 20px 0 10px 0;
}

header, #tenth .img_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header, #tenth span {
  color: #fff;
  font-family: LatoBlack;
  font-size: 20px;
  line-height: 26px;
}

#first h2 {
  font-family: 'Niageng';
  font-weight: 500;
  font-size: 94px;
}

#first h3 {
  font-family: 'LatoItalic';
  color: #ee1194;
  margin-bottom: 50px;
}

#first ul {
  list-style-image: url(../img/coffe_bean.png);
  padding-left: 20px;
  font-family: OpenSansExtraBold;
}

#first .order {
  max-width: 250px;
  margin-bottom: 50px;
}

#first .order h4 {
  color: #f26e8c;
  text-align: center;
  font-family: LatoBlack;
}

#first .order button {
  font-family: LatoBlack;
}

#first .form {
  border: 6px solid #f26e8c;
  padding: 10px 7px 25px 7px;
}

#first input, select, button {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 10px;
}

#first button {
  color: #fff;
  background-color: #f26e8c;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 3px 0;
  font-weight: 600;
}

#first .effect {
  font-family: LatoBlack;
  border: 6px solid #ee1194;
  padding: 10px;
  max-height: 108px;
}

#first .effect h4 {
  color: #ee1194;
  text-align: center;
}

#first .first_img {
  max-width: 540px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first_bottom {
  background-color: #ef5380;
  padding: 25px 0;
}

.first_bottom .amount {
  color: #fff;
  font-size: 25px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 0 5px;
}

.first_bottom span {
  font-family: LatoBold;
}

/* SECTION SECOND */
#second {
  background-image: url(../img/section_second_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  overflow: hidden;
}

#second .coffee_bg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -24%;
}

#second .girls {
  max-width: 350px;
  position: absolute;
  top: 33%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -130px;
  z-index: 2;
}

#second img {
  position: absolute;
  left: 0;
  top: 0;
}

#second .text {
  padding: 0 30% 0 5%;
}

#second .text h3 {
  color: #fff;
  font-family: 'Lato';
}

#second .text p {
  color: #fff;
  font-family: 'Lato';
  font-weight: 300;
}

#second .title {
  font-size: 40px;
  line-height: 50px;
}

.second_title {
  font-family: OpenSansExtraBoldItalic;
  font-size: 20px;
  line-height: 37px;
}

#second .col-lg-7 {
  position: relative;
}

#second .col-lg-7 img {
  position: absolute;
  left: -48%;
  top: 50%;
  width: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* SECTION THIRD */
#third {
  background-image: url(../img/section_three_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  overflow: hidden;
}

#third .col-xl-5 {
  background-color: #f8dfed;
  min-width: 760px;
}

#third .wrapper {
  padding-top: 70px;
  position: relative;
}

#third .coffee_absolute {
  position: absolute;
  bottom: -30px;
  right: -185px;
}

#third .white_bg {
  background-color: #fff;
  width: 94%;
  border-radius: 40px;
  padding: 30px 30px 10px 15px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.5);
}

#third .white_bg:before {
  content: '';
    background-image: url(../img/shadow.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    bottom: -61px;
    width: 90px;
    height: 70px;
}

#third .slider p {
  font-size: 13px;
  font-family: 'Lato';
  font-weight: 600;
}

.slider_avatar {
  border-radius: 50%;
}

.insta {
  background-color: #fff;
  margin: 15px;
}

.insta span {
  margin-left: 5px;
  font-family: LatoBold;
}

.insta_top {
  padding: 10px;
}

.insta_bottom {
  padding: 10px;
}

#third .text {
  padding-top: 50px;
  padding-bottom: 180px;
}

#third .title {
  font-size: 29px;
}

/* SECTION FOURTH */
#fourth {
  background-image: url(../img/section_fourth_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0 225px 0;
  overflow: hidden;
}

#fourth .title {
  font-size: 30px;
  text-align: center;
}

#fourth h4 {
  font-family: OpenSansExtraBold;
  font-size: 26px;
  line-height: 32px;
  color: #e289b4;
  margin-bottom: 25px;
}

#fourth p {
  font-family: LatoBold;
  line-height: 20px;
}

#fourth .text {
  padding: 30px;
}

/* SECTION FIFTH */
#fifth {
  background-image: url(../img/section_fifth_bg-top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  overflow: hidden;
}

#fifth_half {
  background-image: url(../img/section_fifth_bg-bottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  margin-top: -130px;
  min-height: 725px;
  overflow: hidden;
}

#fifth .h2_bg_black {
  background-color: #000;
  opacity: .75;
}

#fifth .h2_bg_black h2 {
  font-family: OpenSansExtraBold;
  font-size: 61px;
  line-height: 72px;
  text-align: center;
  color: #fff;
}

#fifth .h2_bg_pink {
  background-color: #e389b4;
  opacity: .75;
}

#fifth .h2_bg_pink h2 {
  font-family: OpenSansExtraBold;
  font-size: 52px;
  line-height: 57px;
  text-align: center;
  color: #fff;
}

#fifth .pink {
  color: #e88ab5;
}

#fifth .flex_box {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 40px;
  opacity: .9;
  position: relative;
  -webkit-box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.5);
}

#fifth .flex_box p {
  font-family: LatoBlack;
}

#fifth .title {
  text-transform: uppercase;
}

#fifth .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  z-index: -1;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(0, 0, 0, 0.661502)));
  background: linear-gradient(360deg, white 0%, rgba(0, 0, 0, 0.661502) 100%);
}

#fifth .flex_box .img_holder {
  width: 76px;
  height: 84px;
}

#fifth .flex_box .top {
  border-bottom: 1px solid #000;
}

#fifth .flex_box .top, .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 15px 25px;
}

#fifth .flex_box .text {
  width: 70%;
}

#fifth .img_bg {
  background-color: #fff;
  opacity: .9;
  border-radius: 40px;
  padding: 20px 40px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.5);
}

#fifth_half .position-relative:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 80%;
  bottom: 104px;
  right: 65px;
  background-color: #fff;
}

#fifth_half ul li {
  color: #fff;
}

#fifth_half ul li i {
  margin-right: 10px;
}

/* SEXTION SIXTH */
#sixth {
  background-image: url(../img/section_sixth_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0 50px 0;
  overflow: hidden;
  min-height: 801px;
}

#sixth .wrapper {
  padding-top: 20px;
  position: relative;
}

#sixth .arrow {
  position: absolute;
  right: -65px;
  top: 37%;
  max-width: 275px;
}

#sixth .title {
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSansExtraBoldItalic;
}

#sixth .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sixth .inner .text {
  width: 41%;
  text-align: left;
  padding-top: 20px;
}

#sixth .inner .circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 6px solid #ed8994;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

#sixth .circle span {
  font-family: ArialBlack;
  font-size: 23px;
  line-height: 27px;
}

#sixth .circle .day {
  font-size: 42px;
  line-height: 51px;
}

#sixth .text p {
  font-family: LatoBlack;
  font-size: 19px;
  line-height: 23px;
}

#sixth .col-xl-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

#sixth .col-xl-4 .img_holder {
  margin-bottom: 60px;
}

#sixth .text_holder {
  position: absolute;
  min-width: 300px;
  bottom: 0;
  right: -4%;
}

#sixth .col-xl-3 img {
  min-width: 300px;
}

#sixth h4 {
  font-family: LatoBlack;
  font-size: 15px;
  line-height: 21px;
  text-align: right;
  position: absolute;
  bottom: 50px;
  right: 0;
}

/* SECTION SEVENTH */
#seventh {
  background-image: url(../img/section_seventh_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  border-top: 8px solid #e289b4;
}

#seventh .title {
  padding-top: 50px;
}

#seventh img {
  position: absolute;
  top: 0;
  right: -310px;
  height: 100%;
}

#seventh .wrapper {
  max-width: 900px;
  padding-top: 50px;
}

#seventh .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 10px;
  margin-bottom: 25px;
  background-image: url(../img/column_bg.png);
  background-position: top;
  background-size: cover;
  border-top-right-radius: 20px;
}

#seventh .inner:nth-child(1) {
  max-width: 91%;
}

#seventh .inner:nth-child(2) {
  max-width: 99%;
}

#seventh .inner:nth-child(3) {
  max-width: 100%;
}

#seventh .inner:nth-child(4) {
  max-width: 97%;
}

#seventh .inner:nth-child(5) {
  max-width: 94%;
}

#seventh span {
  font-family: LatoBold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

#seventh .percent {
  font-family: ArialBlack;
  font-size: 35px;
  line-height: 44px;
  color: #fff;
}

/* SECTION EIGTH */
#eigth {
  background-image: url(../img/section_eigth_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 40px 0;
  min-height: 1401px;
}

#eigth .title {
  font-family: OpenSansBold;
  font-size: 53px;
  line-height: 55px;
  color: #fff;
  text-align: center;
}

#eigth h2 {
  font-family: OpenSansBold;
  font-size: 38px;
  line-height: 55px;
  color: #fff;
  text-align: center;
}

#eigth .slider_second {
  background-color: #fff;
  border: 3px dashed #e289b4;
  max-width: 980px;
  margin: 0 auto;
  padding: 40px 0;
}

#eigth .slider_second .top {
  padding: 50px;
}

#eigth .top h3 {
  font-family: LatoBold;
  font-size: 28px;
  line-height: 32px;
}

#eigth .top h4 {
  font-family: LatoHeavy;
  font-size: 32px;
  line-height: 38px;
  border-bottom: 4px solid #e389b4;
  color: #e389b4;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

#eigth .top p {
  font-family: Arial;
  font-size: 19px;
  line-height: 25px;
}

#eigth .bottom img {
  border: 1px solid #000;
  margin: 0 auto;
}

#eigth .slick-next {
  background-color: #ee1194;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  right: -35px;
  top: 13%;
  z-index: 999;
}

#eigth .slick-next:before {
  content: '';
  background-color: #fff;
  width: 30px;
  height: 4px;
  top: 41px;
  left: 22px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}

#eigth .slick-next:after {
  content: '';
  background-color: #fff;
  width: 30px;
  height: 4px;
  top: 21px;
  left: 22px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

#eigth .slick-prev {
  background-color: #ee1194;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 13%;
  left: -35px;
  z-index: 999;
}

#eigth .slick-prev:before {
  content: '';
  background-color: #fff;
  width: 30px;
  height: 4px;
  top: 41px;
  left: 15px;
  position: absolute;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  opacity: 1;
}

#eigth .slick-prev:after {
  content: '';
  background-color: #fff;
  width: 30px;
  height: 4px;
  top: 21px;
  left: 15px;
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  opacity: 1;
}

/* SECTION NINTH */
#ninth {
  background-image: url(../img/nint_bg_min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -158px 0px;
  padding: 90px 0 30px 0;
  min-height: 600px;
  text-align: center;
  overflow: hidden;
}

#ninth .title {
  font-family: OpenSansBold;
  font-size: 50px;
  line-height: 64px;
  margin-bottom: 20px;
}

#ninth p {
  font-family: LatoBold;
  font-size: 20px;
  line-height: 25px;
}

#ninth .img_holder {
  margin-bottom: 10px;
}

#ninth img {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 1;
}

#ninth .dashed:before {
  content: '';
  position: absolute;
  width: 200px;
  height: 10px;
  top: 156px;
  right: -100px;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
  background-image: url(../img/dashed.png);
}

#ninth .dashed:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 10px;
  top: 156px;
  left: -100px;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  background-image: url(../img/dashed.png);
}

/* SECTION TENTH */
#tenth {
  margin-top: 180px;
  overflow: hidden;
  padding-top: 30px;
  position: relative;
}

#tenth .mask {
  background-color: #fff;
  opacity: .1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#tenth .miarka {
  position: absolute;
  max-width: 470px;
  bottom: -119px;
  left: -454px;
}

#tenth .body {
  position: absolute;
  bottom: 0;
  right: -380px;
  max-width: 650px;
}

#tenth .order_footer {
  max-width: 250px;
  margin-bottom: 50px;
}

#tenth .order_footer h4 {
  color: #f26e8c;
  text-align: center;
  font-family: LatoBlack;
}

#tenth .order_footer button {
  font-family: LatoBlack;
}

#tenth .form {
  border: 6px solid #f26e8c;
  padding: 10px 7px 25px 7px;
}

#tenth input, select, button {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 10px;
}

#tenth button {
  color: #fff;
  background-color: #f26e8c;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 3px 0;
  font-weight: 600;
}

#tenth .effect_footer {
  font-family: LatoBlack;
  border: 6px solid #e88ab5;
  padding: 10px;
  margin-bottom: 60px;
  -webkit-box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 7px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}

#tenth .effect_footer h4 {
  text-align: center;
}

#tenth .effect h4 {
  color: #212529;
}

#tenth ul {
  list-style-image: url(../img/coffe_bean.png);
  padding-left: 20px;
  font-family: OpenSansExtraBold;
}

#tenth .text {
  max-width: 300px;
  font-family: Minion;
}

#tenth .text h4 {
  font-size: 27px;
  line-height: 33px;
  margin-bottom: 0;
}

#tenth .text .bigger {
  font-size: 36px;
  line-height: 36px;
  color: #212529;
}

#tenth .text .cross {
  color: #212529;
  margin-right: 5px;
}

#tenth .text span {
  font-size: 36px;
  line-height: 36px;
}

#tenth .text .pink {
  color: #e389b4;
}

#tenth .text p {
  font-size: 15px;
  line-height: 19px;
}

#tenth .col-xl-8 h3 {
  font-family: LatoBlack;
  font-size: 36px;
  line-height: 43px;
}

#tenth .col-xl-8 h4 {
  font-family: LatoBlack;
  font-size: 29px;
  line-height: 35px;
}

/* SECTION THANKS */
#thanks {
  background-image: url(../img/thanks.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#thanks .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 0;
  opacity: .75;
}

#thanks .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 1040px;
}

#thanks img {
  float: right;
}

#thanks h1 {
  color: #fff;
  font-size: 71px;
  font-weight: 700;
  margin-bottom: 50px;
}

#thanks h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

/* MOBILE */
@media (min-width: 1200px) and (max-width: 1440px) {
  .offset-md-5 {
    margin-left: 30%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54.666667%;
            flex: 0 0 54.666667%;
    max-width: 54.666667%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .first_bottom .img_holder img {
    width: 80%;
  }
  #fourth .text {
    padding: 5px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #fifth .flex_box {
    padding: 0 30px;
  }
  #fifth_half .position-relative:before {
    bottom: 73px;
  }
  #fifth_half .position-relative .middle {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    padding-top: 20px;
  }
}

@media (max-width: 375px) {
  #fifth .flex_box .top, .bottom {
    padding: 10px 0;
  }
  #fifth .flex_box .top, .bottom {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #tenth .col-xl-6 img {
    width: 100%;
  }
  #second .girls {
    width: 100%;
  }
  #thanks h1 {
    font-size: 50px;
    text-align: center;
  }
  #thanks h2 {
    font-size: 20px;
    text-align: center;
  }
  #thanks img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #fifth .h2_bg_black h2 {
    font-size: 45px;
    line-height: 54px;
  }
  #fifth .h2_bg_pink h2 {
    font-size: 39px;
    line-height: 50px;
  }
  #sixth .inner .text {
    width: 70% !important;
  }
  #eigth .slider_second .top {
    text-align: center !important;
  }
  #eigth .top h3 {
    font-size: 21px;
    line-height: 26px;
  }
  #eigth .top h4 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 26px;
    line-height: 28px;
  }
  #eigth .top p {
    font-size: 17px;
    line-height: 22px;
  }
  #eigth .slider_second .top {
    padding: 35px;
  }
  #seventh span {
    font-size: 14px;
    line-height: 20px;
  }
  #seventh .percent {
    font-size: 18px;
    line-height: 28px;
    margin-left: 10px;
  }
  #tenth .col-xl-8 h4 {
    font-size: 23px;
    line-height: 27px;
  }
  #first .first_img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  #third .white_bg {
    margin-bottom: 60px;
  }
  #third .coffee_absolute {
    display: none;
  }
  #third .text {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #third .text p {
    padding-right: 0 !important;
  }
  .slick-slide .col-6 img {
    margin: 0 auto;
  }
  .first_bottom .container {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #first .col-lg-4 {
    margin-bottom: 30px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #fourth {
    background-image: none;
    padding: 40px 0 0 0 !important;
  }
  #eigth .title {
    font-size: 40px;
    line-height: 46px;
  }
  #eigth h2 {
    font-size: 30px;
    line-height: 46px;
  }
  #ninth img {
    height: 170px;
    width: 170px;
  }
  #ninth .title {
    font-size: 41px;
    line-height: 52px;
  }
}

@media (max-width: 992px) {
  #fourth {
    padding: 40px 0 485px 0;
  }
  #fourth .col-md-6 {
    text-align: center !important;
  }
  #fifth_half {
    padding-top: 226px;
    margin-top: -188px;
    min-height: 725px;
  }
  #fifth .offset-md-2 {
    margin-left: 0;
  }
  #fifth .flex_box {
    margin-bottom: 30px;
  }
  #fifth_half .position-relative:before {
    content: none;
  }
  #fifth_half .position-relative {
    text-align: center;
  }
  #fifth_half .middle {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #eigth .top img {
    margin: 0 auto;
  }
  #eigth .top .img_holder {
    margin-bottom: 30px;
  }
  #eigth .bottom .col-lg-4 {
    margin-bottom: 30px;
  }
  #eigth .slider_second {
    margin-bottom: 40px;
  }
  #ninth {
    padding: 160px 0 30px 0;
  }
  #ninth .col-lg-4 {
    margin-bottom: 30px;
  }
  #ninth .dashed:after, .dashed:before {
    display: none;
  }
}

@media (max-width: 1024px) {
  #second {
    padding: 50px 0 30px 0;
  }
}

@media (max-width: 1200px) {
  #first {
    overflow: hidden;
  }
  #second .text h3, p {
    color: #212529 !important;
  }
  #second .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #second .position-relative {
    text-align: center;
  }
  #second .text {
    padding: 20px;
  }
  #second .offset-md-2 {
    margin-left: 0;
  }
  #second .girls {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  #sixth h4 {
    text-align: center;
    position: unset;
    margin-top: 50px;
  }
  #sixth .text_holder {
    position: unset;
  }
  #sixth .wrapper {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #sixth .inner {
    padding-right: 0 !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #sixth .inner .text {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  #sixth .inner .circle {
    margin: 0 auto;
  }
  #sixth .col-xl-4 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #seventh .title {
    text-align: center;
  }
  #tenth .order_footer {
    margin: 0 auto 50px;
  }
  #tenth .text {
    margin: 0 auto 50px;
    text-align: center;
  }
  #tenth .col-xl-8 .footer_title {
    text-align: center;
  }
  #tenth .mobile_justify {
    padding-top: 50px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #first .col-xl-4:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
  #first .last_col {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #first .first_img {
    position: relative;
    bottom: 0;
  }
  #first .order {
    margin: 0 auto 50px;
  }
  #third .offset-md-5 {
    margin-left: 0;
  }
  #third .col-xl-5 {
    min-width: 0;
  }
}
/*# sourceMappingURL=style.css.map */